{{#extend 'default'}}
    {{#content 'content'}}

        <div class="row">
            <a href="/forms">Go To Forms Page</a>
            <a href="/errors">Errors Page</a>
            <a href="/sales">Sales Page</a>
        </div>

        <hr>

        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Author</th>
                    <th>Publisher</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Author</th>
                    <th>Publisher</th>
                </tr>
            </tfoot>
        </table>

    {{/content}}
{{/extend}}
