{{#extend 'default'}}
    {{#content 'content'}}

        <table class="table table-hover">
           <thead>
                <tr>
                    <th>ID</th>
                    <th>Datetime</th>
                    <th>User</th>
                    <th>Book</th>
                    <th>Books Count</th>
                </tr>
            </thead>
            <tbody>
                {{#each table}}
                    <tr>
                        {{#each this}}
                            <td>{{this}}</td>
                        {{/each}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
    
    {{/content}}
{{/extend}}
